header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid black;
    background: #151515;
}

header a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header a>#logo {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 10vh;
    max-height: 10vh;
    border: 3px solid white;
    border-radius: 50%;
}

header a>#webname {
    text-align: center;
    box-sizing: border-box;
    width: 75vw;
    max-height: 90%;
    margin: auto;
    overflow: hidden;
    filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white);
}

@media screen and (min-width: 720px) {
    header a>#logo {
        visibility: visible;
    }

    header a>#webname {
        width: 50vw;
    }
}